<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="nav.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="script.js" defer></script>
</head>
<body>
    <div class="nav">
        <li><a class="link active" href="dashboard">DashBoard</a></li>
        <li><a class="link" href="workout">Log a workout</a></li>
        <li><a class="link" href="history">history</a></li>
        <li class="horizontal-alignment"><a class="link" href="/viewprofile">Profile</a></li>
        <li class="horizontal-alignment"><a class="link" href="/logout">Log out</a></li>
    </div>
    
    <h2>Welcome, <%= user.firstName %> <%= user.lastName %></h2>
      
<!-- Display other user information as needed -->
    <div >
        hello
    </div>
    <div class="prev-description">

    </div>
    <div class="logworkout">
        <form method="get" action="">
        <input type="button" href="workout" value="Start a new workout"/>
    </form>
    </div>

</body>
</html>