.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(66, 66, 202);
}

li {
    float: left;
}

.horizontal-alignment {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: darkblue;
}

.active {
    background-color: rgb(66, 66, 202);
}
